<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
    <style>
        textarea{
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="analyze" method="get">
                <textarea name="text" id="" cols="30" rows="10"></textarea>
                <input type="checkbox" name="cap" id=""> To Capitalize Your Words
                <input type="checkbox" name="filter" id=""> To Filter Your Text
                <input type="checkbox" name="length" id=""> Gives Length Of Your Text
                <input type="submit" value="Analyze">
            </form>
        </div>
    </div>
</body>
</html>